base_line_tests/images/
base_line_tests/.idea/
base_line_tests/.ipynb_checkpoints
base_line_tests/venv/
facial-landmarks/

Basic_Detector/defaultData/
Basic_Detector/data/
Basic_Detector/venv/
Basic_Detector/__pycache__/
Basic_Detector/.idea/

base_line_tests/bbimages/
base_line_tests/bbimages64/
base_line_tests/bbimages224/
base_line_tests/bbimagesprev/
Facial-Keypoint-Detection_/
venv/
Ignore/
Cluster/__pycache__/
Cluster/.idea/
UNet/__pycache__/
UNet/.idea/
Cluster/exp_basic/
*.out
log.log
Merget/
landmark_detection/
Robust_Facial_Landmark/
mlpractical/
landmark-detection/
Robust-Facial-Landmark/
Transfer Learning/
