base_line_tests/images/
base_line_tests/.idea/
base_line_tests/.ipynb_checkpoints
base_line_tests/venv/
facial-landmarks/

Basic_Detector/defaultData/
Basic_Detector/data/
Basic_Detector/300Wdata/
Basic_Detector/venv/
Basic_Detector/__pycache__/
Basic_Detector/.idea/

base_line_tests/bbimages/
base_line_tests/bbimages64/
base_line_tests/bbimages224/
base_line_tests/bbimagesprev/
base_line_tests/data/



Facial-Keypoint-Detection_/
venv/
Ignore/
Cluster/__pycache__/
Cluster/.idea/
Cluster/script_utils/pw.sh



UNet/__pycache__/
UNet/.idea/
Cluster/exp_*/saved_models
Cluster/exp_Both/
Cluster/exp_300W/
Cluster/exp_null/
Cluster/exp_null_2/
Cluster/exp_Skip/
Cluster/exp_debug_nme/
Cluster/exp_baseline_deterministic/

*.out
log.log
Merget/
landmark_detection/
Robust_Facial_Landmark/
mlpractical/
landmark-detection/
Robust-Facial-Landmark/
sTransfer Learning/
.idea/
__pycache__/
*.ipynb
*.ipynb_checkpoints/
Transfer Learning/
data/
*.ini
notebook.bat
